html {
  background-color: #c9b5ae;
  font-family: 'PT Serif', serif;
}

img {
  width: 100%;
}

a {
  color: #793284;
  text-decoration:none;
}

a:hover {
  color: #b42885;
  text-decoration:none;
}

h1,h2,{
font-family: 'PT Sans', sans-serif;
}

.bold {
  font-weight:bold;
}

.italic{
font-weight:italic;  
}

.top {
  list-style-type:none;
}

aside > blockquote{
  font-size:1.5rem;
  font-style::italic;
}

ol ,li {
  list-style-type: lower-greek;
}

ul > li {
  list-style-type: circle;
}
